---
---
<!doctype html>
<html>
  <head>
    <title>¡Conjugatator!</title>
    <link rel="stylesheet" href="main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
      <h1>¡Conjugatador!</h1>
    </header>

    <div class="output">
      <div id="conjugation"></div>
      <span id="infinitive">conjugaciones se están cargando</span>
      <span id="translation"></span>
    </div>

    <div class="controls">
      <div class="segmented">
        <input type="radio" id="first" name="person" value="0" checked>
        <label for="first">First</label>
        <input type="radio" id="second" name="person" value="1">
        <label for="second">Second</label>
        <input type="radio" id="third" name="person" value="2">
        <label for="third">Third</label>
        <input type="radio" id="singular" name="plurality" value="singular" checked>
        <label for="singular">Singular</label>
        <input type="radio" id="plural" name="plurality" value="plural">
        <label for="plural">Plural</label>
      </div>

      <div class="segmented">
        {% for tense in site.data.tenses %}
          <input type="radio" id="{{ tense.id }}" name="tense" value="{{ tense.id }}"{% if tense.checked %} checked{% endif %}>
          <label for="{{ tense.id }}">{{ tense.name }}</label>
        {% endfor %}
      </div>

      <div class="next"><button id="next">¡otro!</button></div>
    </div>
    <script src="main.js"></script>
  </body>
</html>
